<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title> Open Interest </title>

    <!--
    <ul>
        <li><a id = "oi" href="/d3bitmex">Open Interest</a></li>
        <li><a href="/d3bitmexliquidations">Liquidations</a></li>
        <li><a href="/d3Prices">Prices</a></li>
        <li><a href="/d3Volume">Volume</a></li>
      </ul>

  </head>
  <body>
 
    <a id = "bitmex" href = "/d3bitmex"> bitmex </a>
    <a id = "binance" href = "/d3binance"> binance </a>
    <a id = "bybit" href = "/d3bybit"> bybit </a>
    <a id = "ftx" href = "/d3ftx"> FTX </a>
    <a id = "huobi" href = "/d3huobi"> huobi </a>
    <a id = "okex" href = "/d3okexUSDswap"> okex </a>
    <a id = "deribit" href = "/d3deribit"> deribit </a>

  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
      <a href="/d3bitmex" class="navbar-brand font-weight-bold">Data Visualization</a>
      <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
  
  
      <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <!-- Level one dropdown -->
          <li class="nav-item dropdown">
            <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Open Interest</a>
            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="/d3bitmex" class="dropdown-item">Bitmex </a></li>
              <li><a href="/d3binance" class="dropdown-item">Binance</a></li>
              <li><a href="/d3bybit" class="dropdown-item">Bybit</a></li>
              <li><a href="/d3ftx" class="dropdown-item">FTX</a></li>
              <li><a href="/d3huobi" class="dropdown-item">Huobi</a></li>
              <li><a href="/d3deribit" class="dropdown-item">Deribit</a></li>
  
              <li class="dropdown-divider"></li>
  
              <!-- Level two dropdown-->
              <li class="dropdown-submenu">
                <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Okex</a>
                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                  <li>
                    <a tabindex="-1" href="/d3okexUSDswap" class="dropdown-item">Coin Margined Swap</a>
                  </li>
  
               
  
                  <li><a href="/d3okexUSDTswap" class="dropdown-item">USDT Margined Swap</a></li>
                  <li><a href="/d3okexUSDfutures" class="dropdown-item">Coin Margined Futures</a></li>
                  <li><a href="/d3okexUSDTfutures" class="dropdown-item">USDT Margined Futures</a></li>
                </ul>
              </li>
              <!-- End Level two -->
              
              
            </ul>
          </li>
          <!-- End Level one -->
                  <li class="nav-item dropdown">
   <a id="dropdownMenu3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Liquidations</a>
            <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">
              <li><a href="/d3bitmexliquidations" class="dropdown-item">Bitmex </a></li>
              <li><a href="/d3binanceliquidations" class="dropdown-item">Binance</a></li>
              <li><a href="/d3okexliquidations" class="dropdown-item">Okex</a></li>
              <li><a href="/d3ftxliquidations" class="dropdown-item">FTX</a></li>
              
              <!-- End Level two -->
              
              
            </ul>
            </li>
            <li class="nav-item dropdown">
              <a id="dropdownMenu5" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"> Aggregative Open Interest</a>
                       <ul aria-labelledby="dropdownMenu5" class="dropdown-menu border-0 shadow">
                         <li><a href="/d3btc-oi" class="dropdown-item">BTC </a></li>
                         <li><a href="/d3eth-oi" class="dropdown-item">ETH</a></li>
                         <li><a href="/d3xrp-oi" class="dropdown-item">XRP</a></li>
                         <!-- <li><a href="/d3ftxliquidations" class="dropdown-item">FTX</a></li>-->
                         
                         <!-- End Level two -->
                         
                         
                       </ul>
                       </li>
            <li class="nav-item dropdown">
   <a id="dropdownMenu4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Volume</a>
            <ul aria-labelledby="dropdownMenu4" class="dropdown-menu border-0 shadow">
              <li><a href="/d3bitmexvolume" class="dropdown-item">Bitmex </a></li>
              
              <!-- End Level two -->
              
              
            </ul>
            </li>
         
          <li class="nav-item"><a href="/d3Prices" class="nav-link">Prices</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
  <script>
      $(function() {
  // ------------------------------------------------------- //
  // Multi Level dropdowns
  // ------------------------------------------------------ //
  $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
    event.preventDefault();
    event.stopPropagation();

    $(this).siblings().toggleClass("show");


    if (!$(this).next().hasClass('show')) {
      $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
    }
    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
      $('.dropdown-submenu .show').removeClass("show");
    });

  });
});
  </script>
  <style>
       ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
        body {
          font: 14px sans-serif;
          position: absolute;
          margin-left:40px;
        }
        
        .bar{
            fill: grey;
            opacity: .8;
        }
         
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        
        .dot {
          stroke: #000;
        }
        
        .tooltip {
          position: absolute;
          width: 200px;
          height: 28px;
          pointer-events: none;
        }

      .dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
  float: right;
  border: none;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

  </style>
  <body>
    <br>
    ftx BTC-PERP Liquidations
    <button id = "1d" onclick="update('1d')"> 1 Day </button>
    <button id = "3d" onclick="update('3d')">3 Days</button>
    <button id = "7d" onclick="update('7d')">7 Days</button>
    <button id = "30d" onclick="update('30d')">1 Month</button>
    <label>
      <input id="check" type="checkbox" > Hourly Liquidations
    </label>
    <br>
    <svg id = "svg1" width="890" height="450"></svg>
    <script>

        $(function() {
          $('a#liquidations').bind('click', function() {
            $.getJSON('/refresh_liquidations',
            
                function(data) {
            });
            return false;
          });
        });


       const xValue = d => d.Hrs;
      const xLabel = 'Time';
      const yValue = d => d.Liq;
      const yLabel = 'Liquidation';
      const margin = { left: 80, right: 30, top: 20, bottom: 120 };
      const cValue = d => d.BuySell;
      const color = d3.scaleOrdinal(d3.schemeCategory10);
        const svg = d3.select("#svg1");

      function update(selectedVar){
        var isChecked = document.getElementById("check").checked;
        svg.selectAll("*").remove();

           const width = svg.attr('width');
      const height = svg.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const g = svg.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);
      

// set the ranges
var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

        var valueline = d3.line()
    .x(function(d) { return x(d.Hrs); })
    .y(function(d) { return y(d.Liq); });

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

 if(isChecked){
  d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-BTC-PERP-hours.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            

            g.selectAll(".bar").data(data)
            .enter()
            .append('rect')
            .attr("class", "bar")
                .attr('x', d => xScale(xValue(d)))
                .attr('y', d => yScale(yValue(d)))
                .attr('height', d => innerHeight - yScale(yValue(d)))
                .attr('width', 12)

                

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
 }

else {
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-BTC-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            

            g.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
}
      }
    </script>


    <br>
ftx ETH-PERP Liquidations
    <button id = "1d" onclick="update2('1d')"> 1 Day </button>
    <button id = "3d" onclick="update2('3d')">3 Days</button>
    <button id = "7d" onclick="update2('7d')">7 Days</button>
    <button id = "30d" onclick="update2('30d')">1 Month</button>
    <br>
    <svg id = "svg2" width="890" height="450"></svg>
    <script>
      const svg2 = d3.select('#svg2');

      function update2(selectedVar){

      const width = svg2.attr('width');
      const height = svg2.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      svg2.selectAll("*").remove();

      const g2 = svg2.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g2.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g2.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

        
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-ETH-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g2.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg2.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
</script>

<br>
    ftx ALT-PERP Liquidations
    <button id = "1d" onclick="update3('1d')"> 1 Day </button>
    <button id = "3d" onclick="update3('3d')">3 Days</button>
    <button id = "7d" onclick="update3('7d')">7 Days</button>
    <button id = "30d" onclick="update3('30d')">1 Month</button>
    <br>
    <svg id = "svg3" width="890" height="450"></svg>
    <script>

        const svg3 = d3.select("#svg3");

      function update3(selectedVar){
        svg3.selectAll("*").remove();

           const width = svg3.attr('width');
      const height = svg3.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const g3 = svg3.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g3.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g3.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

        
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-ALT-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g3.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg3.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
    </script>


<br>
    ftx LINK-PERP Liquidations
    <button id = "1d" onclick="update4('1d')"> 1 Day </button>
    <button id = "3d" onclick="update4('3d')">3 Days</button>
    <button id = "7d" onclick="update4('7d')">7 Days</button>
    <button id = "30d" onclick="update4('30d')">1 Month</button>
    <br>
    <svg id = "svg4" width="890" height="450"></svg>
    <script>

        const svg4 = d3.select("#svg4");

      function update4(selectedVar){
        svg4.selectAll("*").remove();

           const width = svg4.attr('width');
      const height = svg4.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const g4 = svg4.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g4.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g4.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

        
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-LINK-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g4.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg4.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
    </script>



<br>
    ftx ATOM-PERP Liquidations
    <button id = "1d" onclick="update5('1d')"> 1 Day </button>
    <button id = "3d" onclick="update5('3d')">3 Days</button>
    <button id = "7d" onclick="update5('7d')">7 Days</button>
    <button id = "30d" onclick="update5('30d')">1 Month</button>
    <br>
    <svg id = "svg5" width="890" height="450"></svg>
    <script>

        const svg5 = d3.select("#svg5");

      function update5(selectedVar){
        svg5.selectAll("*").remove();

           const width = svg5.attr('width');
      const height = svg5.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const g5 = svg5.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g5.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g5.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

        
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-ATOM-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g5.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg5.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
    </script>

<br>
    ftx XTZ-PERP Liquidations
    <button id = "1d" onclick="update6('1d')"> 1 Day </button>
    <button id = "3d" onclick="update6('3d')">3 Days</button>
    <button id = "7d" onclick="update6('7d')">7 Days</button>
    <button id = "30d" onclick="update6('30d')">1 Month</button>
    <br>
    <svg id = "svg6" width="890" height="450"></svg>
    <script>

        const svg6 = d3.select("#svg6");

      function update6(selectedVar){
        svg6.selectAll("*").remove();

           const width = svg6.attr('width');
      const height = svg6.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const g6 = svg6.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g6.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g6.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

        
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-XTZ-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g6.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg6.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
    </script>

<br>
ftx BNB-PERP Liquidations
<button id = "1d" onclick="update7('1d')"> 1 Day </button>
<button id = "3d" onclick="update7('3d')">3 Days</button>
<button id = "7d" onclick="update7('7d')">7 Days</button>
<button id = "30d" onclick="update7('30d')">1 Month</button>
<br>
<svg id = "svg7" width="890" height="450"></svg>
<script>

    const svg7 = d3.select("#svg7");

  function update7(selectedVar){
    svg7.selectAll("*").remove();

       const width = svg7.attr('width');
  const height = svg7.attr('height');
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const g7 = svg7.append('g')
      .attr('transform', `translate(${margin.left},${margin.top})`);
  const xAxisG = g7.append('g')
      .attr('transform', `translate(0, ${innerHeight})`);
  const yAxisG = g7.append('g');

  xAxisG.append('text')
      .attr('class', 'axis-label')
      .attr('x', innerWidth / 2)
      .attr('y', 100)
      .text(xLabel);

  yAxisG.append('text')
      .attr('class', 'axis-label')
      .attr('x', -innerHeight / 2)
      .attr('y', -60)
      .attr('transform', `rotate(-90)`)
      .style('text-anchor', 'middle')
      .text(yLabel);

  const xScale = d3.scaleTime();
  const yScale = d3.scaleLinear();

  const xAxis = d3.axisBottom()
    .scale(xScale)
    .tickPadding(15)
    .tickSize(-innerHeight);

  const yAxis = d3.axisLeft()
    .scale(yScale)
    .ticks(5)
    .tickPadding(15)
    .tickSize(-innerWidth);

  const row = d => {
    d.Hrs = new Date(d.Hrs);
    d.Liq = +d.Liq;
    return d;
  };

    
    d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-BNB-PERP-liquidations.csv', row, data => {
        xScale
        .domain(d3.extent(data, xValue))
        .range([0, innerWidth])
        .nice();

        yScale
        .domain(d3.extent(data, yValue))
        .range([innerHeight, 0])
        .nice();

        g7.selectAll('circle').data(data)
        .enter().append('circle')
            .attr('cx', d => xScale(xValue(d)))
            .attr('cy', d => yScale(yValue(d)))
            .attr('fill-opacity', .8)
            .attr('r', 6)
            .style("fill", function(d) { return color(cValue(d));}) 
            .on("mouseover", function(d) {
                tooltip.transition()
            .duration(200)
            .style("opacity", .9);
                tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                + ", " + yValue(d) + ")")
            .style("left", (d3.event.pageX + 5) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d) {
                tooltip.transition()
            .duration(500)
            .style("opacity", 0);
            });

    var legend = svg7.selectAll(".legend")
    .data(color.domain())
    .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

// draw legend colored rectangles
legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", color);

// draw legend text
legend.append("text")
    .attr("x", width - 22)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "end")
    .text(function(d) { return d;})

        xAxisG.call(xAxis);
        yAxisG.call(yAxis);
    });
  }
</script>

<br>
    ftx HT-PERP Liquidations
    <button id = "1d" onclick="update8('1d')"> 1 Day </button>
    <button id = "3d" onclick="update8('3d')">3 Days</button>
    <button id = "7d" onclick="update8('7d')">7 Days</button>
    <button id = "30d" onclick="update8('30d')">1 Month</button>
    <br>
    <svg id = "svg8" width="890" height="450"></svg>
    <script>

        const svg8 = d3.select("#svg8");

      function update8(selectedVar){
        svg8.selectAll("*").remove();

           const width = svg8.attr('width');
      const height = svg8.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const g8= svg8.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g8.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g8.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

        
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-HT-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g8.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg8.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
    </script>

<br>
ftx OKB-PERP Liquidations
<button id = "1d" onclick="update9('1d')"> 1 Day </button>
<button id = "3d" onclick="update9('3d')">3 Days</button>
<button id = "7d" onclick="update9('7d')">7 Days</button>
<button id = "30d" onclick="update9('30d')">1 Month</button>
<br>
<svg id = "svg9" width="890" height="450"></svg>
<script>

    const svg9 = d3.select("#svg9");

  function update9(selectedVar){
    svg9.selectAll("*").remove();

       const width = svg9.attr('width');
  const height = svg9.attr('height');
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const g9 = svg9.append('g')
      .attr('transform', `translate(${margin.left},${margin.top})`);
  const xAxisG = g9.append('g')
      .attr('transform', `translate(0, ${innerHeight})`);
  const yAxisG = g9.append('g');

  xAxisG.append('text')
      .attr('class', 'axis-label')
      .attr('x', innerWidth / 2)
      .attr('y', 100)
      .text(xLabel);

  yAxisG.append('text')
      .attr('class', 'axis-label')
      .attr('x', -innerHeight / 2)
      .attr('y', -60)
      .attr('transform', `rotate(-90)`)
      .style('text-anchor', 'middle')
      .text(yLabel);

  const xScale = d3.scaleTime();
  const yScale = d3.scaleLinear();

  const xAxis = d3.axisBottom()
    .scale(xScale)
    .tickPadding(15)
    .tickSize(-innerHeight);

  const yAxis = d3.axisLeft()
    .scale(yScale)
    .ticks(5)
    .tickPadding(15)
    .tickSize(-innerWidth);

  const row = d => {
    d.Hrs = new Date(d.Hrs);
    d.Liq = +d.Liq;
    return d;
  };

    
    d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-OKB-PERP-liquidations.csv', row, data => {
        xScale
        .domain(d3.extent(data, xValue))
        .range([0, innerWidth])
        .nice();

        yScale
        .domain(d3.extent(data, yValue))
        .range([innerHeight, 0])
        .nice();

        g9.selectAll('circle').data(data)
        .enter().append('circle')
            .attr('cx', d => xScale(xValue(d)))
            .attr('cy', d => yScale(yValue(d)))
            .attr('fill-opacity', .8)
            .attr('r', 6)
            .style("fill", function(d) { return color(cValue(d));}) 
            .on("mouseover", function(d) {
                tooltip.transition()
            .duration(200)
            .style("opacity", .9);
                tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                + ", " + yValue(d) + ")")
            .style("left", (d3.event.pageX + 5) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d) {
                tooltip.transition()
            .duration(500)
            .style("opacity", 0);
            });

    var legend = svg9.selectAll(".legend")
    .data(color.domain())
    .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

// draw legend colored rectangles
legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", color);

// draw legend text
legend.append("text")
    .attr("x", width - 22)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "end")
    .text(function(d) { return d;})

        xAxisG.call(xAxis);
        yAxisG.call(yAxis);
    });
  }
</script>

<br>
    ftx BSV-PERP Liquidations
    <button id = "1d" onclick="update10('1d')"> 1 Day </button>
    <button id = "3d" onclick="update10('3d')">3 Days</button>
    <button id = "7d" onclick="update10('7d')">7 Days</button>
    <button id = "30d" onclick="update10('30d')">1 Month</button>
    <br>
    <svg id = "svg10" width="890" height="450"></svg>
    <script>

        const svg10 = d3.select("#svg10");

      function update10(selectedVar){
        svg10.selectAll("*").remove();

           const width = svg10.attr('width');
      const height = svg10.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const g10 = svg10.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g10.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g10.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);

      const xScale = d3.scaleTime();
      const yScale = d3.scaleLinear();

      const xAxis = d3.axisBottom()
        .scale(xScale)
        .tickPadding(15)
        .tickSize(-innerHeight);

      const yAxis = d3.axisLeft()
        .scale(yScale)
        .ticks(5)
        .tickPadding(15)
        .tickSize(-innerWidth);

      const row = d => {
        d.Hrs = new Date(d.Hrs);
        d.Liq = +d.Liq;
        return d;
      };

        
        d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-BSV-PERP-liquidations.csv', row, data => {
            xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g10.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 6)
                .style("fill", function(d) { return color(cValue(d));}) 
                .on("mouseover", function(d) {
                    tooltip.transition()
                .duration(200)
                .style("opacity", .9);
                    tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                    + ", " + yValue(d) + ")")
                .style("left", (d3.event.pageX + 5) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
                    })
                    .on("mouseout", function(d) {
                    tooltip.transition()
                .duration(500)
                .style("opacity", 0);
                });

        var legend = svg10.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

    // draw legend colored rectangles
    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    // draw legend text
    legend.append("text")
        .attr("x", width - 22)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d;})

            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
    </script>

<br>
ftx BCH-PERP Liquidations
<button id = "1d" onclick="update11('1d')"> 1 Day </button>
<button id = "3d" onclick="update11('3d')">3 Days</button>
<button id = "7d" onclick="update11('7d')">7 Days</button>
<button id = "30d" onclick="update11('30d')">1 Month</button>
<br>
<svg id = "svg11" width="890" height="450"></svg>
<script>

    const svg11 = d3.select("#svg11");

  function update11(selectedVar){
    svg11.selectAll("*").remove();

       const width = svg11.attr('width');
  const height = svg11.attr('height');
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const g11 = svg11.append('g')
      .attr('transform', `translate(${margin.left},${margin.top})`);
  const xAxisG = g11.append('g')
      .attr('transform', `translate(0, ${innerHeight})`);
  const yAxisG = g11.append('g');

  xAxisG.append('text')
      .attr('class', 'axis-label')
      .attr('x', innerWidth / 2)
      .attr('y', 100)
      .text(xLabel);

  yAxisG.append('text')
      .attr('class', 'axis-label')
      .attr('x', -innerHeight / 2)
      .attr('y', -60)
      .attr('transform', `rotate(-90)`)
      .style('text-anchor', 'middle')
      .text(yLabel);

  const xScale = d3.scaleTime();
  const yScale = d3.scaleLinear();

  const xAxis = d3.axisBottom()
    .scale(xScale)
    .tickPadding(15)
    .tickSize(-innerHeight);

  const yAxis = d3.axisLeft()
    .scale(yScale)
    .ticks(5)
    .tickPadding(15)
    .tickSize(-innerWidth);

  const row = d => {
    d.Hrs = new Date(d.Hrs);
    d.Liq = +d.Liq;
    return d;
  };

    
    d3.csv('/static/js/liquidations/ftx-' + selectedVar + '-BCH-PERP-liquidations.csv', row, data => {
        xScale
        .domain(d3.extent(data, xValue))
        .range([0, innerWidth])
        .nice();

        yScale
        .domain(d3.extent(data, yValue))
        .range([innerHeight, 0])
        .nice();

        g11.selectAll('circle').data(data)
        .enter().append('circle')
            .attr('cx', d => xScale(xValue(d)))
            .attr('cy', d => yScale(yValue(d)))
            .attr('fill-opacity', .8)
            .attr('r', 6)
            .style("fill", function(d) { return color(cValue(d));}) 
            .on("mouseover", function(d) {
                tooltip.transition()
            .duration(200)
            .style("opacity", .9);
                tooltip.html(d["BuySell"] + "<br/> (" + xValue(d) 
                + ", " + yValue(d) + ")")
            .style("left", (d3.event.pageX + 5) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d) {
                tooltip.transition()
            .duration(500)
            .style("opacity", 0);
            });

    var legend = svg11.selectAll(".legend")
    .data(color.domain())
    .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(0," + i * 20  + ")"; });

// draw legend colored rectangles
legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", color);

// draw legend text
legend.append("text")
    .attr("x", width - 22)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "end")
    .text(function(d) { return d;})

        xAxisG.call(xAxis);
        yAxisG.call(yAxis);
    });
  }
  update('3d')
  update2('3d')
  update3('3d')
  update4('3d')
  update5('3d')
  update6('3d')
  update7('3d')
  update8('3d')
  update9('3d')
  update10('3d')
  update11('3d')

</script>

  </body>
</html>