
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title> Open Interest </title>

    <!--
    <ul>
        <li><a id = "oi" href="/d3bitmex">Open Interest</a></li>
        <li><a href="/d3bitmexliquidations">Liquidations</a></li>
        <li><a href="/d3Prices">Prices</a></li>
        <li><a href="/d3Volume">Volume</a></li>
      </ul>

  </head>
  <body>
 
    <a id = "bitmex" href = "/d3bitmex"> bitmex </a>
    <a id = "binance" href = "/d3binance"> binance </a>
    <a id = "bybit" href = "/d3bybit"> bybit </a>
    <a id = "ftx" href = "/d3ftx"> FTX </a>
    <a id = "huobi" href = "/d3huobi"> huobi </a>
    <a id = "okex" href = "/d3okexUSDswap"> okex </a>
    <a id = "deribit" href = "/d3deribit"> deribit </a>

  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
      <a href="/d3bitmex" class="navbar-brand font-weight-bold">Data Visualization</a>
      <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
  
  
      <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <!-- Level one dropdown -->
          <li class="nav-item dropdown">
            <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Open Interest</a>
            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="/d3bitmex" class="dropdown-item">Bitmex </a></li>
              <li><a href="/d3binance" class="dropdown-item">Binance</a></li>
              <li><a href="/d3bybit" class="dropdown-item">Bybit</a></li>
              <li><a href="/d3ftx" class="dropdown-item">FTX</a></li>
              <li><a href="/d3huobi" class="dropdown-item">Huobi</a></li>
              <li><a href="/d3deribit" class="dropdown-item">Deribit</a></li>
  
              <li class="dropdown-divider"></li>
  
              <!-- Level two dropdown-->
              <li class="dropdown-submenu">
                <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Okex</a>
                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                  <li>
                    <a tabindex="-1" href="/d3okexUSDswap" class="dropdown-item">Coin Margined Swap</a>
                  </li>
  
               
  
                  <li><a href="/d3okexUSDTswap" class="dropdown-item">USDT Margined Swap</a></li>
                  <li><a href="/d3okexUSDfutures" class="dropdown-item">Coin Margined Futures</a></li>
                  <li><a href="/d3okexUSDTfutures" class="dropdown-item">USDT Margined Futures</a></li>
                </ul>
              </li>
              <!-- End Level two -->
              
              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a id="dropdownMenu5" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"> Aggregative Open Interest</a>
                     <ul aria-labelledby="dropdownMenu5" class="dropdown-menu border-0 shadow">
                       <li><a href="/d3btc-oi" class="dropdown-item">BTC </a></li>
                       <li><a href="/d3eth-oi" class="dropdown-item">ETH</a></li>
                       <li><a href="/d3xrp-oi" class="dropdown-item">XRP</a></li>
                       <!-- <li><a href="/d3ftxliquidations" class="dropdown-item">FTX</a></li>-->
                       
                       <!-- End Level two -->
                       
                       
                     </ul>
                     </li>
          <!-- End Level one -->
                  <li class="nav-item dropdown">
   <a id="dropdownMenu3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Liquidations</a>
            <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">
              <li><a href="/d3bitmexliquidations" class="dropdown-item">Bitmex </a></li>
              <li><a href="/d3binanceliquidations" class="dropdown-item">Binance</a></li>
              <li><a href="/d3okexliquidations" class="dropdown-item">Okex</a></li>
              <li><a href="/d3ftxliquidations" class="dropdown-item">FTX</a></li>
              
              <!-- End Level two -->
              
              
            </ul>
            </li>
           
            <li class="nav-item dropdown">
   <a id="dropdownMenu4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Volume</a>
            <ul aria-labelledby="dropdownMenu4" class="dropdown-menu border-0 shadow">
              <li><a href="/d3bitmexvolume" class="dropdown-item">Bitmex </a></li>
              
              <!-- End Level two -->
              
              
            </ul>
            </li>
         
          <li class="nav-item"><a href="/d3Prices" class="nav-link">Prices</a></li>
          <li class="nav-item"> <button> <a  id = "deribit" class="nav-link">Refresh Deribit</a></li> </button>


          
        </ul>
      </div>
    </div>
  </nav>
  <script>
      $(function() {
  // ------------------------------------------------------- //
  // Multi Level dropdowns
  // ------------------------------------------------------ //
  $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
    event.preventDefault();
    event.stopPropagation();

    $(this).siblings().toggleClass("show");


    if (!$(this).next().hasClass('show')) {
      $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
    }
    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
      $('.dropdown-submenu .show').removeClass("show");
    });

  });
});
  </script>
  <style>
       ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
        body {
          font: 14px sans-serif;
          position: absolute;
          margin-left:40px;
        }
        
        .bar{
            fill: grey;
            opacity: .8;
        }
         
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        
        .dot {
          stroke: #000;
        }
        
        .tooltip {
          position: absolute;
          width: 200px;
          height: 28px;
          pointer-events: none;
        }

      .dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
  float: right;
  border: none;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

  </style>

  <body>


      <br>
      
    deribit BTC-26JUN20 OI in USD 
    <button id = "1h" onclick="update('1h')">  1 Hour </button>
    <button id = "2h" onclick="update('2h')">  2 Hours </button>
    <button id = "12h" onclick="update('12h')">  12 Hours </button>
    <button id = "1d" onclick="update('1d')">  1 Day </button>

    <button id = "1d" onclick="update('3d')">  3 Days </button>
    <label>
        <input id="check" type="checkbox" > Coin Denominated
      </label>
    <br>
    
    <svg id = "svg1" width="890" height="450"></svg>
    <script>
         $(function() {
          $('a#deribit').bind('click', function() {
            $.getJSON('/refresh_deribit',
                function(data) {
            });
            return false;
          });
        });
    

      
      const xValue = d => d.date;
      const xLabel = 'Time';
      const yValue = d => d.value;
      const yLabel = 'Open Interest';
      const margin = { left: 80, right: 30, top: 20, bottom: 120 };
      const svg = d3.select("#svg1");
      


              


        function update(selectedVar){
            var isChecked = document.getElementById("check").checked;
            const width = svg.attr('width');
      const height = svg.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      svg.selectAll("*").remove();

           // d3.selectAll('g > *').remove();


      const g = svg.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };

if (isChecked){
    d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-BTC-26JUN20-open-interest-coin.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .4)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
else{
        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-BTC-26JUN20-open-interest-usd.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .4)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
      //update('2h');


      //function refresh(){
       // socket.emit('refresh_oi');
     //setTimeout(refresh, 30000);

        }

    </script>

<br>deribit BTC-25SEP20 OI in USD
<button id = "1h" onclick="update2('1h')">  1 Hour </button>
    <button id = "2h" onclick="update2('2h')">  2 Hours </button>
    <button id = "12h" onclick="update2('12h')">  12 Hours </button>
    <button id = "1d" onclick="update2('1d')">  1 Day </button>
    <button id = "1d" onclick="update2('3d')">  3 Days </button>
    <label>
        <input id="check1" type="checkbox" > Coin Denominated
      </label>
    <br>
    <svg id = "svg2" width="890" height="450"></svg>

   <script> 


    const svg2 = d3.select('#svg2');

   

    function update2(selectedVar){
        var isChecked = document.getElementById("check1").checked;

            const width = svg2.attr('width');
      const height = svg2.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      
      svg2.selectAll("*").remove();

            //d3.selectAll('svg2 > *').remove();


      const g2 = svg2.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g2.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g2.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };
if(isChecked){
    d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-BTC-25SEP20-open-interest-coin.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g2.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .4)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
}
else{

        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-BTC-25SEP20-open-interest-usd.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g2.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .4)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
    }
</script>




<br> deribit 25DEC20 OI in USD
<button id = "1h" onclick="update12('1h')">  1 Hour </button>
    <button id = "2h" onclick="update12('2h')">  2 Hours </button>
    <button id = "12h" onclick="update12('12h')">  12 Hours </button>
    <button id = "1d" onclick="update12('1d')">  1 Day </button>
    <button id = "1d" onclick="update12('3d')">  3 Days </button>
    <label>
        <input id="check3" type="checkbox" > Coin Denominated
      </label>
    <br>
    <svg id = "svg12" width="890" height="450"></svg>

   <script> 


    const svg12 = d3.select('#svg12');

   

    function update12(selectedVar){
        var isChecked = document.getElementById("check3").checked;
            const width = svg12.attr('width');
      const height = svg12.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      
      svg12.selectAll("*").remove();

            //d3.selectAll('svg2 > *').remove();


      const g12 = svg12.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g12.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g12.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };
if (isChecked){
    file_name = 'coin'
}
else{
    file_name = 'usd'
}

        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-BTC-25DEC20-open-interest-' + file_name + '.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g12.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .6)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }

update12('2h')
</script>

<br>deribit BTC-PERP OI in USD
<button id = "1h" onclick="update3('1h')">  1 Hour </button>
    <button id = "2h" onclick="update3('2h')">  2 Hours </button>
    <button id = "12h" onclick="update3('12h')">  12 Hours </button>
    <button id = "1d" onclick="update3('1d')">  1 Day </button>
    <button id = "1d" onclick="update3('3d')">  3 Days </button>
    <label>
        <input id="check4" type="checkbox" > Coin Denominated
      </label>
    <br>
    <svg id = "svg3" width="890" height="450"></svg>

   <script> 


    const svg3 = d3.select('#svg3');

   

    function update3(selectedVar){
        var isChecked = document.getElementById("check4").checked;
            const width = svg3.attr('width');
      const height = svg3.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      
      svg3.selectAll("*").remove();

            //d3.selectAll('svg2 > *').remove();


      const g3 = svg3.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g3.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g3.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };
            if (isChecked){
    file_name = 'coin'
}
else{
    file_name = 'usd'
}

        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-BTC-PERPETUAL-open-interest-' + file_name + '.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g3.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .4)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
</script>



<br>deribit ETH-26JUN20 OI in USD
<button id = "1h" onclick="update4('1h')">  1 Hour </button>
    <button id = "2h" onclick="update4('2h')">  2 Hours </button>
    <button id = "12h" onclick="update4('12h')">  12 Hours </button>
    <button id = "1d" onclick="update4('1d')">  1 Day </button>
    <button id = "1d" onclick="update4('3d')">  3 Days </button>
    <label>
        <input id="check5" type="checkbox" > Coin Denominated
      </label>

    <br>
    <svg id = "svg4" width="890" height="450"></svg>

   <script> 


    const svg4 = d3.select('#svg4');

   

    function update4(selectedVar){
        var isChecked = document.getElementById("check5").checked;

            const width = svg4.attr('width');
      const height = svg4.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      
      svg4.selectAll("*").remove();

            //d3.selectAll('svg2 > *').remove();


      const g4 = svg4.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g4.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g4.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };

            if (isChecked){
    file_name = 'coin'
}
else{
    file_name = 'usd'
}


        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-ETH-26JUN20-open-interest-' + file_name + '.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g4.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .8)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
</script>



<br>deribit ETH-25SEP20 OI in USD
<button id = "1h" onclick="update5('1h')">  1 Hour </button>
    <button id = "2h" onclick="update5('2h')">  2 Hours </button>
    <button id = "12h" onclick="update5('12h')">  12 Hours </button>
    <button id = "1d" onclick="update5('1d')">  1 Day </button>
    <button id = "1d" onclick="update5('3d')">  3 Days </button>
    <label>
        <input id="check5" type="checkbox" > Coin Denominated
      </label>
    <br>
    <svg id = "svg5" width="890" height="450"></svg>

   <script> 


    const svg5 = d3.select('#svg5');

   

    function update5(selectedVar){
        var isChecked = document.getElementById("check5").checked;


            const width = svg5.attr('width');
      const height = svg5.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      
      svg5.selectAll("*").remove();

            //d3.selectAll('svg2 > *').remove();


      const g5 = svg5.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g5.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g5.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };

            if (isChecked){
    file_name = 'coin'
}
else{
    file_name = 'usd'
}
        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-ETH-25SEP20-open-interest-' + file_name + '.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g5.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .6)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
</script>



<br>deribit ETH-25DEC20 OI in USD
<button id = "1h" onclick="update0('1h')">  1 Hour </button>
    <button id = "2h" onclick="update0('2h')">  2 Hours </button>
    <button id = "12h" onclick="update0('12h')">  12 Hours </button>
    <button id = "1d" onclick="update0('1d')">  1 Day </button>
    <button id = "1d" onclick="update0('3d')">  3 Days </button>
    <label>
        <input id="check0" type="checkbox" > Coin Denominated
      </label>
    <br>
    <svg id = "svg0" width="890" height="450"></svg>

   <script> 


    const svg0= d3.select('#svg0');

   

    function update0(selectedVar){

        var isChecked = document.getElementById("check0").checked;

            const width = svg0.attr('width');
      const height = svg0.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      
      svg0.selectAll("*").remove();

            //d3.selectAll('svg2 > *').remove();


      const g0 = svg0.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g0.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g0.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };

            if (isChecked){
    file_name = 'coin'
}
else{
    file_name = 'usd'
}

        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-ETH-25DEC20-open-interest-'+file_name+'.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g0.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .6)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }

      update0('2h')
</script>



<br> deribit ETH-PERP OI in USD
<button id = "1h" onclick="update6('1h')">  1 Hour </button>
    <button id = "2h" onclick="update6('2h')">  2 Hours </button>
    <button id = "12h" onclick="update6('12h')">  12 Hours </button>
    <button id = "1d" onclick="update6('1d')">  1 Day </button>
    <button id = "1d" onclick="update6('3d')">  3 Days </button>
    <label>
        <input id="check6" type="checkbox" > Coin Denominated
      </label>


    <br>
    <svg id = "svg6" width="890" height="450"></svg>

   <script> 


    const svg6 = d3.select('#svg6');

   

    function update6(selectedVar){
        var isChecked = document.getElementById("check6").checked;

            const width = svg6.attr('width');
      const height = svg6.attr('height');
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
      
      svg6.selectAll("*").remove();

            //d3.selectAll('svg2 > *').remove();


      const g6 = svg6.append('g')
          .attr('transform', `translate(${margin.left},${margin.top})`);
      const xAxisG = g6.append('g')
          .attr('transform', `translate(0, ${innerHeight})`);
      const yAxisG = g6.append('g');

      xAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', innerWidth / 2)
          .attr('y', 100)
          .text(xLabel);

      yAxisG.append('text')
          .attr('class', 'axis-label')
          .attr('x', -innerHeight / 2)
          .attr('y', -60)
          .attr('transform', `rotate(-90)`)
          .style('text-anchor', 'middle')
          .text(yLabel);


            const xScale = d3.scaleTime();
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
                .scale(xScale)
                .tickPadding(15)
                .tickSize(-innerHeight);

            const yAxis = d3.axisLeft()
                .scale(yScale)
                .ticks(5)
                .tickPadding(15)
                .tickSize(-innerWidth);
                
            
            const row = d => {
                d.date = new Date(d.date);
                d.value = +d.value;
                return d;
            };

            if (isChecked){
    file_name = 'coin'
}
else{
    file_name = 'usd'
}
        d3.csv('/static/js/open-interest/deribit-' + selectedVar + '-ETH-PERPETUAL-open-interest-'+file_name+'.csv', row, data => {
           xScale
            .domain(d3.extent(data, xValue))
            .range([0, innerWidth])
            .nice();

            yScale
            .domain(d3.extent(data, yValue))
            .range([innerHeight, 0])
            .nice();

            g6.selectAll('circle').data(data)
            .enter().append('circle')
                .attr('cx', d => xScale(xValue(d)))
                .attr('cy', d => yScale(yValue(d)))
                .attr('fill-opacity', .6)
                .attr('r', 5)
                .style("fill", "steelblue")
            
            xAxisG.call(xAxis);
            yAxisG.call(yAxis);
        });
      }
      
      update('2h')
update2('2h')
update3('2h')
update4('2h')
update5('2h')
update6('2h')
update0('2h')
update12('2h')



    </script>
  </body>
</html>